#random-solution {
    background-color: var(--bg-color);
    color: var(--primary-color);
    padding: 2rem 0;
    text-align: center;
}

#random-solution h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}

#random-solution p {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: var(--primary-color);
}

#random-solution .even-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

#random-solution img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#random-solution .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    width: 200px;
    max-width: 100%;
    border: none;
    cursor: pointer;
}

#random-solution .btn-primary:hover {
    background-color: var(--primary-color-hover);
}

@media (max-width: 768px) {
    #random-solution .even-columns {
        flex-direction: column;
    }

    #random-solution img {
        margin-bottom: 2rem;
    }
}



#faq {
    padding: 4rem 0;
    text-align: left;
    background-color: var(--bg-color);
}

#faq h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.faq-item {
    margin-bottom: 1.5rem;
    text-align: center;
}

.faq-item h3 {
    font-size: 1.25rem;
    color: var(--primary-color);
}

.faq-item p {
    font-size: 1rem;
    color: var(--text-color);
}

#cta-final {
    background-color: var(--primary-color);
    color: white;
    padding: 4rem 0;
    text-align: center;
}

#cta-final h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#cta-final p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

#cta-final .btn-primary {
    background-color: white;
    color: var(--primary-color);
    color: #000000;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    width: 200px;
    max-width: 100%;
    border: none;
    cursor: pointer;
}
